# Limpieza de Datos

Cargamos nuestras librerias basicas.

In [1]:
import os
import glob
from pathlib import Path

In [2]:
import numpy as np
import pandas as pd

Tenemos nuestro datos en la carpeta 'Data' del proyecto

In [7]:
BASE_DIR = Path.cwd().parent
BASE_DIR

WindowsPath('C:/Users/Reymu/Desktop/Ciencia de datos/Datos (pandas)/Proyectos')

In [12]:
#para generar una lista de los archivos que indicamos con glob
[Path(filename).name for filename in glob.glob(f"{BASE_DIR / 'linkedln/data/*.csv'}")]

['job_postings.csv']

In [18]:
##Cargamos el archivo, importante monitorear tu ram
#%%time
data = pd.read_csv(BASE_DIR / 'linkedln/data/job_postings.csv')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15886 entries, 0 to 15885
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      15886 non-null  int64
 1   company_id                  15520 non-null  float64
 2   title                       15886 non-null  object
 3   description                 15885 non-null  object
 4   max_salary                  5521 non-null   float64
 5   med_salary                  981 non-null    float64
 6   min_salary                  5521 non-null   float64
 7   pay_period                  6502 non-null   object
 8   formatted_work_type         15886 non-null  object
 9   location                    15886 non-null  object
 10  applies                     8700 non-null   float64
 11  original_listed_time        15886 non-null  float64
 12  remote_allowed              2340 non-null   float64
 13  views                       13123 non-null  float64
 14  job_posting_url             15886 non-null  object
 15  application_url             9795 non-null   object
 16  application_type            15886 non-null  object
 17  expiry                      15886 non-null  float64
 18  closed_time                 928 non-null    float64
 19  formatted_experience_level  10984 non-null  object
 20  skills_desc                 144 non-null    object
 21  listed_time                 15886 non-null  float64
 22  posting_domain              9044 non-null   object
 23  sponsored                   15886 non-null  int64
 24  work_type                   15886 non-null  object
 25  currency                    6502 non-null   object
 26  compensation_type           6502 non-null   object
dtypes: float64(11), int64(2), object(14)
memory usage: 3.3+ MB

In [20]:
#Podemos revisar cuanta memoria utilizamos
data.memory_usage(deep=True)

Index                               128
job_id                           127088
company_id                       127088
title                           1407019
description                   107172731
max_salary                       127088
med_salary                       127088
min_salary                       127088
pay_period                       709997
formatted_work_type             1046636
location                        1129273
applies                          127088
original_listed_time             127088
remote_allowed                   127088
views                            127088
job_posting_url                 2001628
application_url                 1885782
application_type                1134218
expiry                           127088
closed_time                      127088
formatted_experience_level       924256
skills_desc                      660199
listed_time                      127088
posting_domain                   929873
sponsored                        127088
work_type                       1046636
currency                         690408
compensation_type                742424
dtype: int64